
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient(135deg, #212121, #5F259F);
    display: flex;
    justify-content: center;
    align-items: center;
}


form {
    background: #ffffff;
    padding: 40px;
    border-radius: 12px;
    width: 300px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
    text-align: center;
}


h2 {
    position: absolute;
    top: 80px;
    color: #ffffff;
    font-size: 28px;
}


input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
    transition: 0.3s;
}


input:focus {
    border-color: #4e73df;
    box-shadow: 0 0 5px rgba(78, 115, 223, 0.5);
}


button {
    width: 100%;
    padding: 12px;
    background: #5F259F;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}


button:hover {
    background: #2e59d9;
}


button:active {
    transform: scale(0.98);
}


.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4);
  display: none;
  z-index: 998;
}

.overlay.show {
  display: block;
}